# Игнорируем стандартные системные файлы
*.DS_Store
Thumbs.db

# Игнорируем виртуальное окружение
venv/
env/

# Игнорируем временные файлы Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Игнорируем логи и временные файлы
*.log
*.tmp
*.swp

# Игнорируем файлы IDE/редакторов (например, VSCode, PyCharm)
.vscode/
.idea/

# Игнорируем файлы/папки для мультимедиа (если используется временная папка)
media_temp/
*.bak
#image/
#*.png
#*.jpg

# Игнорируем сгенерированные файлы Pygame (если ваш проект их создаёт)
*.dat
*.sav
*.score

# Игнорируем папку сборки, если используется (например, для cx_Freeze или pyinstaller)
build/
dist/

# Игнорируем пользовательские конфигурации
*.cfg
*.ini

# Игнорируем архивы, бэкапы, исполняемые файлы
*.zip
*.rar
*.tar.gz
*.exe
*.dll
*.so
